@model FinanzasApp.Models.Gastos

<div class="container">
	<h2>Agregar gasto</h2>
	<form asp-action="Create" method="post">
		<div>
			<label asp-for="Descripcion" class="form-label"> </label>
			<input asp-for="Descripcion" class="form-control" />
		</div>
		<div>
			<label asp-for="Fecha" class="form-label"> </label>
			<input asp-for="Fecha" class="form-control" type="date" />

		</div>
		<div>
			<label asp-for="Monto" class="form-label"> </label>
			<input asp-for="Monto" class="form-control" type="number" />
		</div>
		<div>
			<label asp-for="Categoria" class="form-label"> </label>
			<select asp-for="Categoria" class="form-select">
				<option value="">Seleccione una categoria</option>
				<option value="Alimentacion">Alimentacion</option>
				<option value="Transporte">Transporte</option>
				<option value="Entretenimiento">Entretenimiento</option>
				<option value="Salud">Salud</option>
				<option value="Otros">Otros</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Agregar</button>
	</form>
</div>
